vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jan 2016 22:40:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Pages/photo-slideshow.htm
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|PBC2\\p8nt_000
vti_timecreated:TR|04 Jun 2013 21:26:37 -0000
vti_cacheddtm:TX|28 Jan 2016 22:40:34 -0000
vti_filesize:IR|4758
vti_cachedlinkinfo:VX|S|../img/nav-bg.png S|../img/bg-hover.png S|../img/back.png S|../img/forward.png S|../img/nav-dot.png S|../img/bg-hover.png S|../img/progress-back.png S|../img/progress-bar.png S|../img/bg-black.png S|../img/thumb-back.png S|../img/thumb-forward.png
vti_cachedsvcrellinks:VX|FSUS|Library/sliders/supersized-slideshow/img/nav-bg.png FSUS|Library/sliders/supersized-slideshow/img/bg-hover.png FSUS|Library/sliders/supersized-slideshow/img/back.png FSUS|Library/sliders/supersized-slideshow/img/forward.png FSUS|Library/sliders/supersized-slideshow/img/nav-dot.png FSUS|Library/sliders/supersized-slideshow/img/bg-hover.png FSUS|Library/sliders/supersized-slideshow/img/progress-back.png FSUS|Library/sliders/supersized-slideshow/img/progress-bar.png FSUS|Library/sliders/supersized-slideshow/img/bg-black.png FSUS|Library/sliders/supersized-slideshow/img/thumb-back.png FSUS|Library/sliders/supersized-slideshow/img/thumb-forward.png
vti_syncofs_ftp.ipower.com\:21:TW|06 Sep 2016 17:06:08 -0000
vti_syncwith_ftp.ipower.com\:21:TX|28 Jan 2016 22:40:34 -0000
