vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jul 2016 23:06:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Sliders/fullscreen-slider.htm Pages/index_w_video.html Home.html Pages/index_original.html Pages/homealt1.htm Pages/home2.htm index.html
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|CharlieCarrie\\Charlie & Carrie
vti_timecreated:TR|19 Dec 2014 23:49:18 -0000
vti_nexttolasttimemodified:TW|28 Jan 2016 22:40:22 -0000
vti_cacheddtm:TX|28 Jul 2016 23:06:28 -0000
vti_filesize:IR|19277
vti_cachedlinkinfo:VX|S|../../../graphics/fs-prev-arrow.png S|../../../graphics/fs-prev-arrow-hover.png S|../../../graphics/fs-next-arrow.png S|../../../graphics/fs-next-arrow-hover.png S|../../../graphics/fs-slider-caption-bg.png S|../../../graphics/fs-slider-dots3.png S|../../../graphics/vert-line.png S|../../../graphics/horizontal-line.png S|../../../graphics/diagonal-right.png S|../../../graphics/diagonal-left.png S|../../../graphics/dot-dark.png S|../../../graphics/dot-light.png
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/fs-prev-arrow.png FSUS|Site/graphics/fs-prev-arrow-hover.png FSUS|Site/graphics/fs-next-arrow.png FSUS|Site/graphics/fs-next-arrow-hover.png FSUS|Site/graphics/fs-slider-caption-bg.png FSUS|Site/graphics/fs-slider-dots3.png FSUS|Site/graphics/vert-line.png FSUS|Site/graphics/horizontal-line.png FSUS|Site/graphics/diagonal-right.png FSUS|Site/graphics/diagonal-left.png FSUS|Site/graphics/dot-dark.png FSUS|Site/graphics/dot-light.png
