vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Jan 2015 18:16:06 -0000
vti_author:SR|PBC2\\Paintball
vti_modifiedby:SR|PBC2\\p8nt_000
vti_nexttolasttimemodified:TR|02 Dec 2009 17:08:53 -0000
vti_timecreated:TR|07 Jan 2015 18:16:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_www.paintball-command.com\:80:TR|02 Dec 2009 17:08:53 -0000
vti_backlinkinfo:VX|candcsynthetics/privacy.htm candcsynthetics/Templates/template.dwt candcsynthetics/faqs.htm candcsynthetics/sitemap.htm candcsynthetics/about.htm candcsynthetics/contact.htm candcsynthetics/flag.htm candcsynthetics/index.htm candcsynthetics/Templates/flash_intro.dwt candcsynthetics/catalog.htm candcsynthetics/oils.htm candcsynthetics/photo_gallery.htm candcsynthetics/press.htm
vti_cacheddtm:TX|07 Jan 2015 18:16:06 -0000
vti_filesize:IR|5867
vti_cachedlinkinfo:VX|S|../graphics/elements/search_bg.jpg
vti_cachedsvcrellinks:VX|FSUS|candcsynthetics/Site/graphics/elements/search_bg.jpg
vti_syncofs_ftp.ipower.com\:21:TW|06 Sep 2016 18:25:27 -0000
vti_syncwith_ftp.ipower.com\:21:TW|07 Jan 2015 18:16:06 -0000
