vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Feb 2016 21:54:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Colin-PC\\Colin
vti_modifiedby:SR|PBCMAIN\\PBCCharlie
vti_timecreated:TR|12 Jan 2015 20:37:21 -0000
vti_nexttolasttimemodified:TW|01 Feb 2016 23:53:00 -0000
vti_backlinkinfo:VX|Sliders/fullscreen-slider.htm Pages/index_w_video.html Home.html Pages/index_original.html Pages/homealt1.htm Pages/home2.htm index.html
vti_cacheddtm:TX|01 Feb 2016 21:54:20 -0000
vti_filesize:IR|1757
vti_cachedlinkinfo:VX|S|../../graphics/menu-bg.png S|../../graphics/social-icon-bg.png S|../../graphics/social-icon-bg.png
vti_cachedsvcrellinks:VX|FSUS|Site/graphics/menu-bg.png FSUS|Site/graphics/social-icon-bg.png FSUS|Site/graphics/social-icon-bg.png
